<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.author %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @blog_post.blog_entry %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
<div>
  <%= render 'comments/form' %>
</div>

<div class="panel panel-default">
  <div class="panel-header">
    <h4>Comments</h4>
  </div>
  <% @blog_post.comments.each do |comment| %>
    <div class="panel-body">
      <p><strong><%= comment.author %></strong> said: </p>
      <p><%= comment.comment_entry %></p>
    </div>
  <% end %>
</div>
<%= link_to 'Back', blog_posts_path %>

